body {
    margin: 10px auto;
    width: 750px;
}

header, nav, section, footer {
    display: block;
    border: 1px solid blue;
}

header {
    height: 80px;
}

nav {
    float: left;
    width: 200px;
    height: 370px;
}

section {
    margin-left: 200px;
    width: 500;
    height: 370px;
}

footer {
    clear: both;
    height: 20px;
}