#wrapper {
    margin: auto;
    width: 750px;
    border: 1px solid red;
}

#header {
    height: 80px;
    border: 1px solid blue;
}

#inner {
    float: left;
    margin: 5px 0;
    border: 1px solid black;
}

#sidebar {
    float: left;
    margin-right: 20px;
    width: 180px;
    height: 330px;
    border: 1px solid red;
}

#content {
    float: left;
    width: 544px;
    height: 330px;
    border: 1px solid green;
}

#footer {
    clear: both;
    height: 50px;
    border: 1px solid blue;
}